html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    background: #908da1;
    width: 100%;
}

.nav-link{
    font-size: 26px;
    font-family: Roboto;
}
