@{
    ViewData["Title"] = "Поддержка";
}

<body class="bg-light">
     <div class="row justify-content-center">
      
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Техническая поддержка</h4>
        <form asp-action="Index" asp-controller="Support" class="needs-validation" novalidate="" method="post">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="row g-3">
            <div class="col-sm-6">
              <label  class="form-label">Имя</label>
              <input type="text" class="form-control" name="name" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Пожалуйста, введите имя.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label">Фамилия</label>
              <input type="text" class="form-control" name="lastname" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Пожалуйста, введите фамилию.
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Telegram</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@@</span>
                <input type="text" class="form-control" name="username" placeholder="" required="">
              <div class="invalid-feedback">
                  Пожалуйста, введите адрес телеграма.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Email <span class="text-muted">(Опционально)</span></label>
              <input type="email" class="form-control" name="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Пожалуйста, введите корректный адрес электронной почты.
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Сообщение</label>
              <input type="text" class="form-control" name="message" placeholder="" required="">
              <div class="invalid-feedback">
                Пожалуйста, введите сообщение.
              </div>
            </div>  
          </div>
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Отправить</button>
        </form>
      </div>
    </div>
</body>
